
body {
  background-image: url('');
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 8vw;
  margin: 25px;
}

#pixelPainter {
  display: flex;
}

#palette {
  margin: 20px;
}

.defaults {
  border: black 1px solid;
  height: 25px;
  width: 75px;
  margin-top: 10px;
  border-radius: 15%;
  text-align: center;
}

#blacks {
  display: flex;
  align-items: center;
}

#blackImg {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

#erasers {
  display: flex;
  align-items: center;
}

#eraserImg {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

#fills {
  display: flex;
  align-items: center;
}

#fillImg {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

#clearAlls {
  display: flex;
  align-items: center;
}

#clearAllImg {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

#canvas {
  margin: 20px;
}

.paletteGridRow {
  display: flex;
}

.paletteGridCell {
  border: black 1px solid;
  height: 25px;
  width: 25px;
  margin: 2px;
  margin-bottom: 4px;
  padding: 0px;
  border-radius: 100%;
}

.canvasGridRow {
  display: flex;
}

.canvasGridCell {
  border: black 1px dotted;
  height: 15px;
  width: 15px;
}

